@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Theme Transitions */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #FFFFFF;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #FFFFFF;
}

/* Hide Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}